*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(234, 88, 109, 0.8), rgba(101, 32, 17, 0.8)); }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 1.6;
  font-size: 2rem;
  text-transform: uppercase; }

.player-name {
  font-size: 5rem; }

.player-score {
  font-size: 10rem;
  color: #652011; }

.player-present-box {
  font-weight: 300;
  color: #fff; }

.player-present-score {
  font-size: 3.5rem; }

.d-none {
  display: none; }

.btn {
  background: none;
  border: none;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center; }
  .btn-add-outline {
    top: 8rem; }
  .btn-loop2 {
    top: 51rem; }
  .btn-hand {
    top: 58.5rem; }
  .btn .icon {
    height: 3rem;
    width: 3rem;
    font-weight: 200;
    fill: #652011;
    margin-right: 1.5rem; }
    .btn .icon-hand {
      transform: rotate(15deg); }

.panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center; }
  .panel__player {
    text-align: center; }
    .panel__player img {
      width: 3rem;
      height: auto;
      margin-left: 2rem; }
    .panel__player-1 {
      height: 85vh;
      background-color: #dfdfdf;
      border-radius: 1rem 0 0 1rem;
      display: grid;
      grid-auto-rows: 1fr 20% 1fr;
      align-items: center; }
    .panel__player-2 {
      height: 85vh;
      background-color: white;
      border-radius: 0 1rem 1rem 0;
      display: grid;
      grid-auto-rows: 1fr 20% 1fr;
      align-items: center; }
    .panel__player .player-name {
      display: grid;
      grid-template-columns: 60% 20%;
      justify-content: center;
      align-items: center; }
      .panel__player .player-name span {
        justify-self: end;
        margin-right: 2rem; }
  .panel .player-present-box {
    background-color: #652011;
    font-size: 1.4rem;
    padding: 1rem 5rem;
    border-radius: .5rem;
    justify-self: center;
    letter-spacing: 3px; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 85vh; }
