@keyframes pulse {
  0% {
    transform: scale(1) rotate(15deg); }
  50% {
    transform: scale(1.2) rotate(15deg); }
  100% {
    transform: scale(1) rotate(15deg); } }

@keyframes rotate {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-12rem); }
  80% {
    opacity: .5;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem); }
  80% {
    opacity: .5;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 100vh;
  background-image: radial-gradient(rgba(234, 88, 109, 0.2) 0%, rgba(234, 88, 109, 0.2) 40%, #652011); }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 1.6;
  font-size: 2rem;
  text-transform: uppercase; }

.player {
  transition: all .4s; }
  .player-name {
    font-size: 4.5rem;
    letter-spacing: .5rem; }
    .player-name-1 {
      animation: moveInLeft 1s ease-out; }
    .player-name-2 {
      animation: moveInRight 1s ease-out; }
  .player-score {
    font-size: 8.5rem;
    color: #652011;
    animation: moveInTop .6s ease-in-out .75s;
    animation-fill-mode: backwards; }
  .player-present-box {
    font-weight: 300;
    color: #fff; }
  .player-present-score {
    font-size: 3.5rem; }

.d-none {
  display: none; }

.btn {
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  transition: all .4s;
  backface-visibility: hidden;
  transition: all .4s;
  backface-visibility: hidden;
  transition: all .4s;
  backface-visibility: hidden; }
  .btn:focus {
    outline: none; }
  .btn:hover > .icon-add-outline {
    transform: scale(1.2); }
  .btn:hover > .icon-loop {
    animation: rotate .7s infinite linear; }
  .btn:hover > .icon-hand {
    animation: pulse .7s infinite linear; }
  .btn:hover span {
    border-bottom: 1px solid #652011;
    perspective: 1px;
    letter-spacing: 2px;
    transition: all 1s;
    -webkit-font-smoothing: antialiased; }
  .btn-add-outline {
    top: 2rem; }
  .btn-loop {
    bottom: 23%; }
  .btn-hand {
    bottom: 10%; }
  .btn .icon {
    height: 3.2rem;
    width: 3.2rem;
    font-weight: 200;
    fill: #652011;
    margin-right: 1.5rem;
    margin-right: 2rem; }
    .btn .icon-hand {
      transform: rotate(15deg) translateX(1.2rem); }

.dice {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  height: 10rem; }
  .dice-1 {
    margin-top: -13rem; }

.panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center; }
  .panel__player {
    text-align: center; }
    .panel__player img {
      width: 3rem;
      height: auto; }
    .panel__player-1 {
      height: 80vh;
      background-color: #dfdfdf;
      border-radius: 1rem 0 0 1rem;
      display: grid;
      grid-auto-rows: 1fr 20% 1fr;
      align-items: center; }
    .panel__player-2 {
      height: 80vh;
      background-color: white;
      border-radius: 0 1rem 1rem 0;
      display: grid;
      grid-auto-rows: 1fr 20% 1fr;
      align-items: center; }
  .panel .player-present-box {
    background-color: #652011;
    font-size: 1.1rem;
    padding: .8rem 3rem;
    border-radius: .5rem;
    justify-self: center;
    letter-spacing: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
