// COLORS
$color-primary: #ea586d;
$color-primary-light: #f3abb9;
$color-primary-dark: #c0485a;

$color-secondary: #652011;

$color-grey-1: #dfdfdf;
$color-grey-2: #a9a9a9;

$color-white: #fff;
$color-dark: #000;


// Transform
$rotate-15deg : rotate(15deg);