.dice {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);    
    box-shadow: 0 2rem 5rem rgba($color-black, 0.18);
    height: 9rem;

    &-1 {
        margin-top: -12rem;
    }

    &-2 {
        margin-top: -1.2rem;
    }

}