.panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;

    &__player {
        text-align: center;

        img {
            width: 3rem;
            height: auto;
            margin-left: 2rem;
        }

        &-1 {            
            height: 95vh;
            background-color: darkgray;
            
            @include grid-side-panel;
        }

        &-2 {
            height: 95vh;            

            @include grid-side-panel;
        }

        .player-name {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}