*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px/16px = 62.5 -> now 1rem = 10px!

    // MEDIA QUERIES

    // The order of the media queries matter. As this project was built first for desktop, then include the large media queries first. 
        
    @include respond(tab-land) { // Setting the font-size of 9px
        font-size: 56.25%; // 1em = 9px (9/16 = 0.5625)
    }

    // The font-size of 50% also applies/includes for phone as the max-width is 900px/56.25em
    @include respond(tab-port) { // Setting the font-size of 8px
        font-size: 50%; // 1em = 8px (8/16 = 0.5)
    }

    // The order here doesn't affect the other media queries because it's using "min-width"
    @include respond(big-desktop) { // Setting the font-size of 12px
        font-size: 75%; //1rem = 12px (12/16 = 0.75)
    }
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-image: radial-gradient(
        rgba($color-primary, .2) 0%,
        rgba($color-primary, .2) 40%,
        $color-secondary);
    
}